<ion-header class="ion-no-border bar-header">
  <ion-toolbar style=" background: transparent !important;">
      <ion-icon slot="end" name="close-outline" ></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
    <h2>Indirizzo</h2>
    <p> Via Junker 8/a, Trieste 34120</p>
   
    <h2>Qualcosa su Tennis Grignano</h2>
    <p>Desideri giocare a tennis su terra rossa o eba sintetica? Questo  è il posto giusto. Con una quota associativa di soli 80€ puoi usufruire di prezzi ridotti su tutti i nostri servizi</p>
    <h2>Orari di apertura</h2>
    <p>Lunedì: 09:00-22:00</p>
    <p>Martedì: 09:00-22:00</p>
    <p>Mercoledì: 09:00-22:00</p>
    <p>Giovadì: 09:00-22:00</p>
    <p>Venerdì: 09:00-22:00</p>
    <p>Sabato: Chiuso</p>
    <p>Domenica: Chiuso</p>


</ion-content>
