
.spinner {
    top:0vh;
    width: 100vw;
    height:100%;
    background: #fff;
    // background-image: url(./../../assets/Waves-multiple.svg) !important;
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 100vh;
    overflow: hidden;
    color:  #414141;
    position: absolute;
    text-align: center;
    z-index: 10000000;
  }
  ion-content{
      scroll-behavior: smooth;
  }
  .spinner1{
    width: 100vw;
    height: 100%;
    left: 0px;
    background: transparent;
    // height: 100vh;
    overflow: hidden;
    color:  #414141;
    position: absolute;
    text-align: center;
    z-index: 10000000;
  }
  ion-segment::-webkit-scrollbar {
    display: none;
  }
  ion-segment{
      margin: 10px 20px;
      scroll-behavior: smooth;
      -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
  }
  ion-segment-button{
    // --transition:600ms;
      color: #414141;
    // padding: 0px 5px;s
    min-width: auto;
  }
  .double-bounce1, .double-bounce2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0061d5;
    opacity: 0.6;
    position: absolute;
    left:calc(50vw - 20px);
    top:calc(40% - 20px);
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
ion-icon{
    font-size: 32px;
    color:  #414141;
}
ion-header{
    color:  #414141;
    height: 50px;
    ion-icon{
        color:#414141;
        --color: #414141
    }
}
ion-toolbar{
    color: #414141;
    ion-icon{
        color:#414141;
        --color: #414141
    }
}
.white-icon{
    font-size: 30px;
    padding-right: 10px;
    color: #414141;
}
section{
    padding: 5px 10px;
    // background: #fafafa;
    h5{
        color: #414141;
        margin: 0px 10px;
    }
    p{
        color: #414141;
        margin: 0px 0px 0px 20px;
        font-size: 11px;
    }
}
ion-content{
    // background-image: url(./../../assets/Waves-multiple.svg) !important;
    --background: #fff;
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 100vh;
    overflow: hidden;
}

.profile{
    position: relative;
    padding:  0px 10px ;
    width: 100vw;
    // padding: 10px;
    .names{
        position: absolute;
        left: 36vw;
        display: inline-block;
        // top:8vw;
        padding-top: 15px;
        display: inline-block;
        height: 100%;
        h2{
            color:  #414141;
            font-size:21px;
            line-height: 21px;
            margin: 0px 0px 5px 0px;
            font-weight:700
        }
        h5{
            color: #414141;
            font-size: 15px;
            line-height: 15px;
            
            margin: 0px 0px 20px  ;
            
            // color: #00479D;
        }
        ion-button{
            font-size: 13px;
             margin:0px
        }
    }
    .cont-img{
        height:25vw;
        width: 25vw;;
        margin: 0px 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px #ddd;
        display: inline-block;
        overflow: hidden;
        img{
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            // width: 100%;
        }
    }
}
.service{
    max-height: 220px;
    bottom: 0px;
    border-radius: 4px;
    margin: 10px 0px 0px 0px;
    left: 0px;
    width: 100vw;
    background: transparent;
    overflow: scroll;
    box-shadow:0 0 5px 1px #ddd;
    ion-label{
        --color: #343a40 !important;
    }
    .item-native{
        padding-left: 0px !important; 
    }
    ion-item{
        div{
            padding-left: 0px !important;
        }
    }
}  

.item .sc-ion-label-ios-h, .item .sc-ion-label-ios-h, .sc-ion-label-md-h, .item .sc-ion-label-md-h{
white-space: normal !important;
}
.date{
    padding-bottom: 0px;
    h5{
        margin-top:15px;
    }
    // ion-datetime{
    //     color: #0061d5;
    //     margin-left: 10px;
    // }
    // ion-item{
    //     color: #0061d5;
    //     width: 84vw;
    //     --background: #fafafa;
    // }
    .x-scroller{
        white-space: nowrap;
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        height:80px; 
        padding: 10px 10px  0px 10px;
    margin: 0px;
        .time-slot{
            margin: 0px 10px 0px 0px;
            border-radius: 5px;
            padding:  15px 20px;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            display: inline-block;
            color: #343a40;
            background: #fff;
            border: 1px solid white;
            box-shadow: 0 0 5px 1px #ddd;
        }
    }
    
} 
.active{
    background:#00479D !important;
    border: 1px solid white;
    color: white !important;
}
.time{
    padding-bottom: 20px;
    padding-top: 0px;
    .x-scroller{
        // background: #fafafa;
        white-space: nowrap;
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        height:80px; 
        padding: 10px 10px;
    margin: 0px ;
        .time-slot{
            margin: 0px 10px 0px 0px;
            z-index: 10;
            border-radius: 5px;
            text-align: center;
            padding:  15px 20px;
            font-size: 13px;
            line-height: 15px;
            display: inline-block;
            color: #343a40;
            background: #fff;
            box-shadow: 0 0 5px 1px #ddd;
        }
    }
   
}
ion-label{
    font-size: 14px !important;
    line-height: 17px;
    b{
        font-weight: 300 !important;
        font-size: 11px !important;;
        line-height: 11px !important;;
    }
}
ion-toolbar{
    padding-top: 5px !important;
}
.confirm-tab{
width: 100vw;
height: 100vh;

display: block;
position: absolute;
overflow: hidden;
top: 0px;
z-index: 20;
background: rgba($color: rgb(1, 28, 83), $alpha: 0.8);
backdrop-filter: blur(16px);
-webkit-backdrop-filter: blur(16px);
.cont{
width: 80vw;
background: rgba(#ffffff, 0.8);
backdrop-filter: blur(16px);
-webkit-backdrop-filter: blur(16px);
display: block;
border-radius: 10px;
margin-top: 20vh;
margin-left: 10vw;
// background: #efefef;
}
h3{
    font-size: 21px;
    padding: 0px 0px 0px 0px;
    color: #343a40;
}
div{
    width: 100%;
    display: block;
    font-size:15px;
    padding: 10px;
    color: #343a40;
    div{
        padding: 5px;
    }
}
.buttons{
width: 100%;
text-align: center;
div{
    padding-top:20px;
}
}
button{
    margin: 5%;
    padding: 5px 10px;
    width: 90%;
    font-size: 18px;
    color:#fff;
    border-radius: 10px;
    margin-bottom: 0px;
    box-shadow: 0 0 5px 1px #ddd;
}
.confirm{
    background: #fff;
    color:  #414141;
    font-family: 'Comfortaa Bold';
    box-shadow: 0 0 5px 1px #ddd;
}
}
.no-disp{
    z-index: 1;
    position: relative;
    width: 100%;
   top:-50px;
    text-align: center;
    color: #ccc;
}
h6{
    margin-top: 10px;
}
.all_spots{
    overflow: hidden;
    position: relative;
    width: 100vw;
}

ion-header{
    background: #fff;
     --background: #fff;
      color: #414141;
      font-family: 'Comfortaa Bold';
      border: none !important;
  }
  ion-tab-bar{
    --background: #fff;
  }
  
  .header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 !important;
  }
  .select-modal{
      background: transparent;
      .modal-wrapper { border-top-left-radius: 15px; border-top-right-radius: 15px;}
      padding-top:80px!important;
    }
  
    ion-title {
      color:#414141;
      font-size: 21px;
      font-family: 'Comfortaa Bold';
      --background: #fff;
      background: #fff;
    }

    body{
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
         -khtml-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
    }
    select::-ms-expand {
        display: none;
    }
    select{
        display: inline-block;
        color: #00468e;
        border-radius: 5px;
        text-align: center;
        width:auto;
        padding:  5px;
        font-size: 14px;
        // -webkit-appearance: none;
        // -moz-appearance: none;      
        // appearance: none;
        cursor: pointer;
    }
    .select_no_margin_left{
        border: none;
        padding: 4px !important;
        margin:0px 0px 20px 0px !important;
    }

    .time-available{
        text-transform: capitalize;
        color:  #414141;
        display: block;
        font-weight: 700;
        font-size: 15px;
        padding-right: 10px;
    }

    .item-class{
        color:  #414141;
        margin:0px 10px 15px 10px;
        // --background: rgba(255,255,255,0.1);
        // backdrop-filter: blur(16px);
        box-shadow: 0 0 5px 1px #ddd;
        // -webkit-backdrop-filter: blur(16px);
        font-size: 15px;
        overflow: hidden;
        // width: 90%;
        border-radius: 5px;
        ion-lable{
            font-size: 15px;
        }
        ion-select{
              /* Set a different placeholder color */
                --placeholder-color:  #414141;

                /* Set full opacity on the placeholder */
                --placeholder-opacity: 1;

        }
    }
