<ion-header  mode=ios  >
  <ion-toolbar  mode=ios>
    <ion-buttons slot="start"  mode=ios (click)='backHome()' >
      <ion-button  mode=ios>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
      
    </ion-toolbar>
  </ion-header>

<ion-content (swipe)='backHome()'>
  
    <!-- <div class="prof-profile" *ngFor='let shop of shops' (click)="navBusiness(shop)"> -->
        <div class="prof-profile" *ngFor='let shop of category' (click)='presentModal(shop)' >
            <div class="cont_img_text">
                    <div class="prof-img"><img src='{{shop.img_url}}'></div>
                    <div class="text_widg">
                        <h4>{{shop.store_name}}</h4>
                        <h5 >{{shop.business_description}}</h5>
                        <p *ngIf='shop.closed'>Al momento chiuso</p>
                        <div class="location" *ngIf='!shop.closed'><img src='../assets/icon/location.svg'>{{shop.address}}</div> 
                    </div>
        
            </div>
    </div>   
    <h2>Altri tipi di servizi</h2>
    <div class="prof-profile" *ngFor='let shop of others'  (click)='presentModal(shop)'>
      <div class="cont_img_text">
              <div class="prof-img"><img src='{{shop.img_url}}'></div>
              <div class="text_widg">
                  <h4>{{shop.store_name}}</h4>
                  <h5 >{{shop.business_description}}</h5>
                  <p *ngIf='shop.closed'>Al momento chiuso</p>
                  <div class="location" *ngIf='!shop.closed'><img src='../assets/icon/location.svg'>{{shop.address}}</div> 
              </div>
  
      </div>
</div>             
  
  
</ion-content>
