<ion-header>
    <ion-toolbar>
      <ion-title>
        prenota
      </ion-title>
      <ion-buttons slot="end"style="color: white;
      font-size: 18px;
      padding-right: 10px;" >
         <!-- <a href="https://wa.me/393404526854"> <img src="../assets/icon/whatsapp.svg" style="height: 30px; margin-right: 10px;"></a> -->
         <a (click)='gopay()'> <img src="../assets/icon/whatsapp.svg" style="height: 30px; margin-right: 10px;"></a>
        </ion-buttons>
    </ion-toolbar>

  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
      <div class="spinner" [style.display]="spin">
        <p>Caricamento in corso</p>
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>

        <div class="prof-profile" *ngFor='let shop of shops' (click)="presentModal(shop)">
                <div class="cont_img_text">
                        <div class="prof-img"><img src='{{shop.img_url}}'></div>
                        <div class="text_widg">
                            <h4>{{shop.store_name}}</h4>
                            <h5>{{shop.business_description}}</h5>
                            <div class="location"><img src='../assets/icon/location.svg'>{{shop.address}}</div> 
                        </div>
            
                </div>
</div>          
  </ion-content>
  