.scroll_cont{
 position: fixed;
 bottom: 60px;
 height: 200px;
 width: 100vw;
 h2{
    color: #040041;
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    font-family:  'Open Sans', sans-serif !important;
    margin:0px 20px;
}
}

.scroll_horizontal{
    white-space: nowrap;
    position: relative;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  
    height: 160px;
    top: 0px;
    left: 0px;
    
 
    // background: #000;

}
.category{
    height: 120px;
    width: 120px;
    margin: 20px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px #ccc;
    padding: 10px;
    .categoy_img{
        width: 100px;
        height: 80px;
        padding: 5px ;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    .categoy_title{
        line-height: 20px ;
        text-align: center;
        color: #616161;
    }

}