<ion-header  mode=ios >
    <ion-toolbar  mode=ios translucent>
        <!-- <ion-buttons slot="start">
          <ion-button>
            Clear
          </ion-button>
        </ion-buttons> -->
        <ion-buttons slot="end"  mode=ios>
          <ion-button  mode=ios>
              <a target="_blank"><div  style="color: #343a40; font-size: 13px;">Assistenza</div></a>
          </ion-button>
        </ion-buttons>
    
        <ion-title mode=ios  >prenota</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-content >
        <div class="scroll_cont">
          <h2>Scopri altri servizi</h2>
      
          <div class="scroll_horizontal">
            <div class="category">
                <div class="categoy_img"><img src="../assets/categories/undraw_doctors_hwty (1).svg"></div>
                <div class="categoy_title">Medici</div>
            </div>
            <div class="category">
                    <div class="categoy_img"><img src="../assets/categories/undraw_grand_slam_0q5r.svg"></div>
                    <div class="categoy_title">Campi</div>
            </div>
            <div class="category">
                    <div class="categoy_img"><img src="../assets/categories/undraw_barber_3uel (1).svg"></div>
                    <div class="categoy_title">Parrucchieri</div>
            </div>
            <div class="category">
                <div class="categoy_img"><img src="../assets/categories/undraw_Nature_benefits_re_kk70.svg"></div>
                <div class="categoy_title">Cura di te</div>
            </div>
            
          </div>
        </div>
        
    </ion-content>
      