button {
    width: 82vw;
     margin: 0px 9vw;
    padding: 0px 10px;
    height: 50px;
    border-radius: 7px;;
    line-height: 50px;
    font-weight: 700;
    font-size: 18px;
    display: block;
    background: #0061d5;
    position: absolute;
    bottom: 40px;
    text-align: center;
    font-weight: 700 !important;
    color: white;
   
  }
  img{
    margin: 50px 9vw 20px 9vw;
     width: 82vw;
 }

 h2{
    padding: 0px 25px;
    width: 90vw;
    color: #343a40;
    font-size: 24px;
    font-weight: 700;
}
h4{
    padding: 0px 25px;
    width: 90vw;
    margin: 0px;
    color: #95a1ac;
    font-size: 18px;
}


 