

<ion-content>
  <div class="book-int" [style.left]='potions_pos'> 
    <!-- <h3>Cancella prenotazione:</h3> -->
    <p ><b>Servizio:</b> <span style="text-transform: capitalize;"> {{appointment.details}}</span><br>
    <b>Data:</b> {{appointment.day}} {{months_names[appointment.month]}} {{appointment.year}} ore {{rows[appointment.start]}} <br>
    <b>Presso:</b> {{appointment.store_name}}</p>
    <div class="white_btn " (click)='openMap()' > <button><span > <ion-icon name="navigate-outline"></ion-icon> &nbsp; Mappa</span> </button></div>
    <div class="delete_btn " (click)='goDelete()' > <button><span > <ion-icon name="trash-outline"></ion-icon> &nbsp; Cancella</span> </button></div>
      <!-- <div class="loader-5 center" *ngIf="book_load"><span></span></div> </button> </div> -->
    <div class="separator" >
        <p (click)='closeModal()'>Indietro</p>
      </div>
    </div>
    <div class="book-int" [style.left]='delete_pos' > 
      <h3>Sei sicuro di voler cancellare l'appuntamento?</h3>
      <div class="delete_btn " (click)='deleteappo()' > <button><span *ngIf="!cancel_loading"> <ion-icon name="trash-outline"></ion-icon> &nbsp; Cancella</span> <div class="loader-5 center" *ngIf="cancel_loading"><span></span></div></button></div>
        <!-- <div class="loader-5 center" *ngIf="book_load"><span></span></div> </button> </div> -->
      <div class="separator" >
          <p (click)='closeModal()'>Indietro</p>
        </div>
      </div>
</ion-content>
