

<ion-content scrollY=false>
    <div class="book-int"  [style.left]='pos_book'> 
    <span class="recap">
    <h3>Riassunto prenotazione</h3>
    <p style="text-transform: capitalize;"id='cont' ><b>Servizio:</b> {{total_service.name}}<br>
    <b>Data:</b> {{today}}<br>
    <b>Orario:</b> {{timeslot}}</p>
  </span>
 
        <div class="toggle" *ngFor='let adon of adons_list'>
            <span>
              <p><b>{{adon.name}}</b></p>
                  <ion-icon name="information-circle-outline" (click)='popoverInfo($event,adon)'></ion-icon>  
              <div class="adon_price">+ {{adon.price/100}}€</div>
            </span>
            <ion-toggle [(ngModel)]='adon.selected' ></ion-toggle>
          </div>
       
          
 
    <div class="prenota_btn" (click)='goPay()' > <button><span *ngIf="!homeref.book_load">prenota</span> <div class="loader-5 center" *ngIf="homeref.book_load"><span></span></div> </button> </div>
    <div class="separator" [style.opacity]='opacity_scroll'>
        <p (click)='backModal()'>Indietro</p>
      </div>
    </div>
  <div class="card-int"  [style.left]='pos_pay'>    
<label class='label_c'>Importo dovuto:<br> <span class="money_due">{{homeref.to_pay}}€</span></label>
<div style="position: relative; overflow: hidden;">


  <div class="apple_pay_btn" (click)='applePayment()' [style.opacity]='opacity_scroll' [style.margin-top]='applePay_top' *ngIf='applePay_available'>  <ion-icon name="logo-apple"></ion-icon>Pay </div>
 
  <div class="apple_pay_btn" (click)='useStripeGoogle()' [style.opacity]='opacity_scroll' [style.margin-top]='applePay_top' *ngIf='googlePay_available'>  <img  style='height: 23px;' src='../assets/icon/gpay.svg'> </div>
  <div style='margin-top: 10px;' class="confirm-credit" (click)='payWithCredits()' *ngIf='credit_pay && fast_pay'> <button  > <span *ngIf="!payment_credit_loading"><ion-icon name="wallet-outline"></ion-icon> Paga con credito</span><div class="loader-6 center" *ngIf="payment_credit_loading"><span></span></div></button></div>
  <div style='margin-top: 10px;' class="confirm-credit" (click)='payWithCredits()' [style.margin-top]='applePay_top'    *ngIf='credit_pay  && !fast_pay'><button   > <span *ngIf="!payment_credit_loading"><ion-icon name="wallet-outline"></ion-icon> Paga con credito</span><div class="loader-6 center" *ngIf="payment_credit_loading"><span></span></div></button></div>
  <div  class="confirm-pay" (click)='CardorNopay()'  [style.margin-top]='applePay_top'  *ngIf='!fast_pay'> <button  type='submit' > <span *ngIf="!payment_loading"><ion-icon name="card-outline"></ion-icon> Carta di credito</span><div class="loader-5 center" *ngIf="payment_loading"><span></span></div></button></div>
  <div  class="confirm-pay" (click)='CardorNopay()'  *ngIf='fast_pay'> <button  type='submit' > <span *ngIf="!payment_loading"><ion-icon name="card-outline"></ion-icon> Carta di credito</span><div class="loader-5 center" *ngIf="payment_loading"><span></span></div></button></div>
  
  <div class="separator" [style.opacity]='opacity_scroll' >
      <p *ngIf='!homeref.must_be_payed' (click)='book(false)' > Paga sul posto</p>
      <p *ngIf='homeref.must_be_payed' (click)='backModal(true)'>Indietro</p>
  </div>
  
  <div class="apple_pay_btn" (click)='applePayment()' *ngIf='applePay_available'>  <ion-icon name="logo-apple"></ion-icon>Pay </div>
  <div  class="confirm-credit" (click)='payWithCredits()'  *ngIf='credit_pay && !fast_pay'> <button   > <span *ngIf="!payment_credit_loading"><ion-icon name="wallet-outline"></ion-icon> Paga con credito</span><div class="loader-6 center" *ngIf="payment_credit_loading"><span></span></div></button></div>
  <div class="apple_pay_btn" (click)='useStripeGoogle()' *ngIf='googlePay_available'>  <img src='../assets/icon/gpay.svg' style='height: 23px;' > </div>
  
  <label class='label' for="card-number"> Carta di credito</label>
  <input class='input_bg' placeholder="1234 1234 1234 1234" pattern="[0-9]*" name='card-number' type="tel" maxlength="19"  id='card_number'>

  <div style="display: inline-block; width: 50vw; margin: 0px;">
  <label  class='label'for="card-number">Scadenza</label>
  <input class='input_sm1'  placeholder="MM/AA" maxlength="5" pattern="[0-9]*" name="scadenza" type="tel" id='expiry' >
</div>

      <div style="display: inline-block; width: 50vw; margin: 0px;">
  <label class='label1' for="card-number">CVV</label>
  <input class='input_sm2'  placeholder="CVV" pattern="[0-9]*" maxlength="4" type="tel"  name='cvv' id='cvv'>
</div>
<div style='margin-top: 20px;' class="confirm-pay" (click)='buywithCard()'> <button  type='submit' > <span *ngIf="!payment_loading"><ion-icon name="card-outline"></ion-icon> Paga ora </span><div class="loader-5 center" *ngIf="payment_loading"><span></span></div></button></div>

  <!-- <div class="confirm-pay" > <button  type='submit' (click)='goCard()'><ion-icon name="card-outline"></ion-icon> Carta di Credito</button></div> -->
  <div class="separator">
      <p *ngIf='!homeref.must_be_payed' (click)='book(false)' > Paga sul posto</p>
      <p *ngIf='homeref.must_be_payed' (click)='backModal(true)'>Indietro</p>
  </div>

  
</div>
</div>
</ion-content>
