<ion-header class="ion-no-border">
    <ion-toolbar>
            <ion-title>Informazioni</ion-title>
            <div class="back" (click)='closeModal()'>Indietro</div>
        <!-- <ion-icon slot="end" name="close-outline"  class="white-icon" (click)='closeModal()'></ion-icon> -->
    </ion-toolbar>
  </ion-header>
  
<ion-content #topcont>
<div class="cont-template">
       
          <section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb " id="author-section">
            <div class="container ccbox cell-mar">
                <div class="row d-flex no-gutters ">
                    <div class="col-md-6 col-lg-6 d-flex prof-card">
                      
                           <div class="image-logo"><img  src='https://s1.dottori.it/uploads/img/68b6ab/e3/219674/b80fb6_b1084_c0d54.jpg'></div> 
                        
                    </div>
                    <div class="col-md-6 col-lg-6 d-flex  ">
                            <div class="py-md-5 w-100 bg-light px-md-5">
                                <div class="py-md-5  ">
                                    <div class="row justify-content-start cell-pad pb-3">
                                  <div class="col-md-12 heading-section ftco-animate">
                                      <span class="subheading">Studio medico sportivo</span>
                                    <h2 class="mb-4">Wellness Clinic</h2>
                                    <ul class="about-info mt-4 px-md-0 px-2">
                                        <li class="d-flex"><span>Indirizzo:</span> <span>Via Torrebianca 28/A</span></li>
                                        <li class="d-flex"><span>Email:</span> <span>gianfranco.stupar@gmail.com</span></li>
                                        <li class="d-flex"><span>Telefono: </span> <span>040 660779</span></li>
                                    </ul>
                                  </div>
                                </div>
                            
                                    <div class=" btn-butt1" (click)='scrollToTop()'>
                                             Chi siamo
                                     </div>
                              
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </section>
      
    
        
    
        <section class="ftco-section ftco-no-pb ftco-no-pt" id="chapter-section">
            <div class="container" >
                <div class="row justify-content-center mt-5">
              <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Informazioni</h2>
              </div>
            </div>
                <div class="row">
                    <div class="col-md-3 mb-4" >
                        </div>
                        <div class="col-md-9" >
                          <div id="page-1" class= "page bg-light one">
                              <h2 class="heading">CHI SIAMO</h2>
                              <p>La <b>WELLNESS CLINIC</b> è un laboratorio della salute dove l’esercizio fisico viene prescritto alla pari di un farmaco e somministrato in uno spazio wellness-medico attrezzato e protetto.
                                    Con la sua equipe di professionisti, la WELLNESS CLINIC opera nell'attuare un protocollo di prevenzione, attraverso uno specifico programma di esercizi, sviluppati al fine di ridurre gli infortuni durante la pratica sportiva specifica.
</p>                                    
                          </div>
                          <div id="page-2" class= "page bg-light two">
                              <h2 class="heading">IL NOSTRO TEAM</h2>
                              <p><h5>Gianfranco Stupar</h5>
                                <p>
                                    Laureato a pieni voti in Medicina e Chirurgia a Trieste nel 1988; abilitato all'esercizio professionale presso l'Università di Bologna nel 1988; iscritto all'Ordine dei Medici di Trieste (tess. 2921).Specialista in Medicina dello Sport (Trieste,1993) e in Medicina Interna (Trieste, 1998).
                                    Sottotenente di Vascello (Corpo Medici) in congedo della Marina Militare.
                                </p>
                                <h5>Elena Vecile</h5>
                                
                                <p> 
Laureata in Medicina e Chirurgia ed in Scienze Biologiche presso l’Università degli Studi di Trieste, dove ha successivamente conseguito il dottorato di ricerca in Patologia Sperimentale. Si è specializzata in Medicina dello Sport presso l’Università degli Studi di Padova. Ha ricoperto il ruolo di Professore a contratto di Patologia Generale dal 2000 al 2010 presso la facoltà di Medicina e Chirurgia dell’Università degli Studi di Trieste. E’ coautrice di diverse pubblicazioni su riviste internazionali.
                                </p>
                          </div>
                         
                          <div id="page-3" class= "page bg-light three last">
                            <h2 class="heading">SERVIZI E TARIFFARIO</h2>
                            <p>Certificato idoneità sportiva agonistica - € 50<br> <br>
                                Dieta e nutrizione per sportivi  - da € 100 a € 300 <br> <br>
                                Ecg - elettrocardiogramma a riposo - € 20 <br> <br>
                                Certificato Medico non agonistico - € 40 <br> <br>
                                Visita medico sportiva agonistica con prova da sforzo - € 120
                                    </p>
                          </div>
                        
                          
                        </div>
                  </div>
            </div>
  
        </section>
     
        <!-- <div class="bot-bar">
            <div class="prenota btn-butt" (click)='closeModal()'>
                prenota
            </div>
        </div> -->
</div>
</ion-content>
