/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import"~assets/author/css/animate.css";
@import"~assets/author/css/owl.carousel.min.css";
@import"~assets/author/css/owl.theme.default.min.css";
@import"~assets/author/css/magnific-popup.css";
@import"~assets/author/css/flaticon.css";
@import"~assets/author/css/style.css";


@font-face {
    font-family: "Comfortaa Regular";
    src: url('./assets/Comfortaa/static/Comfortaa-Regular.ttf') format('opentype');
  }
  @font-face {
    font-family: "Comfortaa Bold";
    src: url('./assets/Comfortaa/static/Comfortaa-Bold.ttf') format('opentype');
  }
body{
    background: #fff;
    color: #0061d5 ;
    font-family:  'Open Sans', sans-serif !important;
}
// body{
//   margin-bottom: constant(safe-area-inset-bottom);
//   margin-bottom: env(safe-area-inset-bottom);
 
// }
ion-content{
  width: 100vw;
  font-family:  'Open Sans', sans-serif !important;
    border: none;
    margin-top: 10px;
    --padding-top:10px;
    --background: transparent;
    --color: #0061d5 ;
}
ion-toolbar{
  font-family:  'Open Sans', sans-serif !important;
  --background: transparent;
}
ion-header{
  background: #fff;
   --background: #fff;
    color:#343a40;
    font-family: 'Comfortaa Bold';
    border-bottom: 1px solid #ccc;;
}
ion-tab-bar{
  --background: #fff;
}

// .header-ios ion-toolbar:last-of-type {
//   --border-width: 0 0 !important;
// }
html{
  scroll-behavior: smooth;
}

.select-modal{
    background: transparent;
    .modal-wrapper { border-top-left-radius: 15px; border-top-right-radius: 15px;}
    padding-top:50px!important;
  }
  .ticket-modal{
    background: transparent;
    .modal-wrapper { border-top-left-radius: 15px; border-top-right-radius: 15px;}
    padding-top:calc(100vh - 380px)
    
  }
  .pay-customer-modal{
    background: transparent;
    .modal-wrapper { border-top-left-radius: 15px; border-top-right-radius: 15px;}
    padding-top:calc(100vh - 300px)
    
  }
.not-modal{
    background: transparent;
    .modal-wrapper { border-radius: 15px; }
    padding:15vh 5vw!important;
  }
  ion-title {
    color:#0061d5;
    font-size: 21px;
    font-family: 'Comfortaa Bold';
    --background: #fff;
    background: #fff;
  }
  .crisp-client .crisp-1rjpbb7[data-full-view=true] .crisp-1rf4xdh .crisp-ewasyx{
    height: calc(100vh - 50px) !important;
  }
  .braintree-option__card{
    display: none !important;
 }
 .toast-class{
  --background: #0061d5;
  --color:white;
  font-size: 15px!important;
  font-weight: 500!important;
   text-align: center!important;
 }

 .toast-closed-class{
  --background: #c23535;
  --color:white;
  font-size: 13px!important;
  font-weight: 500!important;
   text-align: center!important;
 }

 .light-toast-class{
  --background: white;
  --color:#424242;
  font-size: 15px!important;
  font-weight: 500!important;
   text-align: center !important;
 }

 .card-action-class .action-sheet-button-inner{
    font-size: 13px;
 }