<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Prenota</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getcapacitor.capacitor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>capacitor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Permettici di accederre al bluethooth del tuo cellulare per personalizzare la tua esperienza</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Permettici di accedere ai tuoi contatti per poterli collegare</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Permettici di accedere al tuo calendario per salvare i tuoi appuntamenti</string>
	<key>NSCameraUsageDescription</key>
	<string>Permettici di accedere alla telecamea per scannerizzare il tesserino del bus</string>
	<key>NSContactsUsageDescription</key>
	<string>Permettici di accedere ai tuoi contatti per poter sincronizzare l'app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Always allow Geolocation?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permettici di accedere alla tua posizione personalizzare i  negozi che vedi</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Per creare video con l'audio</string>
	<key>NSMotionUsageDescription</key>
	<string>Permettici di accederre alle motion del tuo cellulare per personalizzare la tua esperienza</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permettici di salvare tue foto personalizzare l'esperienza sull'app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permettici di accedere alle tue foto personalizzare l'esperienza sull'app</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
