<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Prenota</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getcapacitor.capacitor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>capacitor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Permettici di accedere al bluetooth per avere un' esperienza pesonalizzata e poter connetterci con i negozi vicini a te</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Permettici di accedere al bluetooth per avere un' esperienza pesonalizzata e poter connetterci con i negozi vicini a te</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Permettici di accedere al calendario per registrare anche li le prenotazioni che effetui</string>
	<key>NSCameraUsageDescription</key>
	<string>Permettici di accedere alla telecamera  per registrare foto e video ed utilizzarli nell'app</string>
	<key>NSContactsUsageDescription</key>
	<string>Permettici di accedere ai contatti per avere un' esperienza pesonalizzata ed invitare i tuoi amici</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Permettici di accedere alla tua posizione per mostrarti i negozi più pertinenti</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Permettici di accedere alla tua posizione per mostrarti i negozi più pertinenti</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permettici di accedere alla tua posizione per mostrarti i negozi più pertinenti</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permettici di accedere all microfono per registrare audio ed utilizzarli nell'app</string>
	<key>NSMotionUsageDescription</key>
	<string>Permettici di accedere ai movimenti del dispositivo per facilitare il collegamento con i business sulla nostra piattaforma</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permettici di accedere alle tue immagini cosi potrai utilizzarle con altri negozi</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To Pick Photos from Library</string>
	<key>NSRemindersUsageDescription</key>
	<string>Permettici di accedere ai reminder per ricordarti i tuoi appuntamenti</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
